
@model List<UserForListViewModel>

@{
    ViewData["title"] = "SQ011 Welcome page";
}


<div style="text-align: center">
    <h1>Welcome SQ011</h1>

    <h5>members List</h5>
</div>

<div class="myContainer">
    <div class="form-group-control mb-3">
        <a asp-action="Register" asp-controller="User" class="btn btn-primary">
            ADD NEW USER
        </a>
    </div>

    @foreach (var member in Model)
    {
    <a asp-controller="User" class="card-shadow" asp-action="Profile" asp-route-userId="@member.Id">
        <div class="myCard">
            <div><strong>ID:</strong> @member.Id</div>
            <div><strong>Name:</strong> @member.Name</div>
            <div><strong>Email:</strong> @member.Email</div>
        </div>
    </a>
    }
</div>